@media screen and (orientation: portrait) and (min-width: 360px) {
    .menu__link {
        font-size: 18px;
    }

    .section__heading {
        font-size: 28px;
    }

    .section__wrap--about {
        grid-template-rows: auto 260px;
    }

    .about__description {
        font-size: 18px;
    }

    .about__image {
        width: 260px;
    }

    .project-img {
        height: 240px;
    }

    .project-description {
        font-size: 18px;
    }

    .project-description__heading {
        font-size: 18px;
    }

    .contact__description {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .contact__details {
        font-size: 18px;
    }

    .contact__detail {
        line-height: 40px;
    }
}

@media screen and (orientation: portrait) and (min-width: 375px) {
    .project-img {
        height: 250px;
    }
}


@media screen and (orientation: portrait) and (min-width: 411px) {
    .burger {
        width: 200px;
        height: 200px;
    }

    .burger:hover .burger__line {
        left: 45px;
        width: 30px;
    }

    .burger__line {
        bottom: 60px;
    }

    .burger__line--line1 {
        left: 45px;
        width: 30px;
        transform: translateY(-220%);
    }

    .burger__line--line2 {
        left: 55px;
        width: 20px;
        transform: translateY(50%);
    }

    .burger__line--line3 {
        left: 65px;
        width: 10px;
        transform: translateY(320%);
    }

    .js-burger__line1--active {
        left: 50px;
        width: 20px;
        transform: rotate(45deg);
    }

    .js-burger__line2--active {
        left: 50px;
        width: 20px;
        transform: rotate(-45deg);
    }

    .menu-container {
        width: 700px;
        height: 700px;
    }

    .menu {
        height: 350px;
        width: 350px;
        padding: 70px;
    }

    .menu__link {
        font-size: 20px;
    }

    .to-bottom {
        bottom: 40px;
    }

    .js-to-bottom--hide {
        transform: translate(-50%, 90px);
    }

    .to-bottom__icon {
        font-size: 40px;
    }

    .to-top {
        height: 60px;
        width: 60px;
        bottom: 40px;
        transform: translate(-50%, 100px);
        font-size: 30px;
    }

    .js-to-top--show {
        transform: translate(-50%, 0);
    }

    .to-top__icon {
        line-height: 60px;
    }

    .cta__link {
        font-size: 26px;
        /* line-height: 60px; */
    }

    .main {
        grid-template-rows: 100vh auto auto calc(100vh - 70px);
    }

    .section__heading {
        font-size: 30px;
        margin-top: 100px;
    }

    .section__wrap {
        padding: 40px 30px 80px 30px;
    }

    .section__wrap--about {
        grid-template-rows: auto 300px;
    }

    .about__description {
        font-size: 20px;
        margin-bottom: 60px;
    }

    .about__image {
        width: 300px;
    }

    .skill__icon {
        font-size: 30px;
        line-height: 80px;
    }

    .skill__description {
        font-size: 22px;
        line-height: 80px;
    }

    .project-img {
        height: 265px;
    }

    .project-description {
        font-size: 20px;
    }

    .project-description__heading {
        font-size: 20px;
    }

    .contact__description {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 40px;
    }

    .contact__details {
        font-size: 20px;
    }

    .contact__detail {
        line-height: 40px;
    }

    .copy__text {
        font-size: 18px;
        line-height: 70px;
    }
}



@media screen and (orientation: portrait) and (min-width: 768px) {
    .burger {
        width: 300px;
        height: 300px;
    }

    .burger:hover .burger__line {
        left: 70px;
        width: 40px;
    }

    .burger__line {
        height: 4px;
        bottom: 85px;
    }

    .burger__line--line1 {
        left: 70px;
        width: 40px;
        transform: translateY(-240%);
    }

    .burger__line--line2 {
        left: 85px;
        width: 25px;
        transform: translateY(50%);
    }

    .burger__line--line3 {
        left: 100px;
        width: 10px;
        transform: translateY(340%);
    }

    .js-burger__line1--active {
        left: 77.5px;
        width: 25px;
        transform: rotate(45deg);
    }

    .js-burger__line2--active {
        left: 77.5px;
        width: 25px;
        transform: rotate(-45deg);
    }

    .menu-container {
        width: 1000px;
        height: 1000px;
    }

    .menu {
        height: 500px;
        width: 500px;
        padding: 70px 130px;
    }

    .menu__link {
        font-size: 28px;
        line-height: 70px;
    }

    .to-bottom {
        bottom: 50px;
    }

    .js-to-bottom--hide {
        transform: translate(-50%, 100px);
    }

    .to-bottom__icon {
        font-size: 50px;
    }

    .to-top {
        height: 70px;
        width: 70px;
        bottom: 50px;
        transform: translate(-50%, 120px);
        font-size: 35px;
    }

    .js-to-top--show {
        transform: translate(-50%, 0);
    }

    .to-top__icon {
        line-height: 70px;
    }

    .benefit__text {
        font-size: 40px;
        line-height: 100px;
    }

    .cta__link {
        font-size: 36px;
        padding: 20px 30px;
        /* line-height: 10px; */
    }

    .main {
        grid-template-rows: 100vh auto auto calc(100vh - 80px);
    }

    .section__heading {
        font-size: 46px;
        margin-top: 150px;
    }

    .section__wrap {
        padding: 60px 40px 100px 40px;
    }

    .section__wrap--about {
        grid-template-rows: auto 400px;
    }

    .about__description {
        font-size: 28px;
        margin-bottom: 80px;
    }

    .about__image {
        width: 400px;
    }

    .skill {
        border-radius: 15px;
        padding: 0 40px;
    }

    .skill__icon {
        font-size: 40px;
        line-height: 120px;
    }

    .skill__description {
        font-size: 30px;
        line-height: 120px;
    }

    .project-img {
        height: 520px;
        border-radius: 15px 15px 0 0;
    }

    .project-description {
        font-size: 28px;
        margin-top: 20px;
        padding: 20px;
        border-radius: 0 0 15px 15px;
    }

    .project-description__heading {
        font-size: 28px;
    }

    .highlight {
        letter-spacing: 3px;
    }

    .contact__description {
        font-size: 28px;
        line-height: 50px;
        border-radius: 15px 15px 0 0;
    }

    .contact__details {
        font-size: 28px;
        border-radius: 0 0 15px 15px;
    }

    .contact__detail {
        line-height: 60px;
    }

    .copy__text {
        font-size: 24px;
        line-height: 80px;
    }
}


@media screen and (orientation: portrait) and (min-width: 1024px) {

    .menu-container {
        width: 1200px;
        height: 1200px;
    }

    .menu {
        height: 600px;
        width: 600px;
        padding: 70px 140px;
    }

    .menu__link {
        font-size: 30px;
        line-height: 80px;
    }

    .to-bottom {
        bottom: 70px;
    }

    .js-to-bottom--hide {
        transform: translate(-50%, 120px);
    }

    .to-bottom__icon {
        font-size: 60px;
    }

    .to-top {
        height: 90px;
        width: 90px;
        bottom: 70px;
        transform: translate(-50%, 160px);
        font-size: 40px;
    }

    .js-to-top--show {
        transform: translate(-50%, 0);
    }

    .to-top__icon {
        line-height: 90px;
    }

    .main {
        grid-template-rows: 100vh auto auto calc(100vh - 100px);
    }

    .section__heading {
        font-size: 56px;
    }

    .section__wrap {
        padding: 80px 40px 100px 40px;
    }

    .section__wrap--about {
        grid-template-rows: auto 500px;
    }

    .about__description {
        font-size: 34px;
        margin-bottom: 100px;
    }

    .about__image {
        width: 500px;
    }

    .skill__icon {
        font-size: 50px;
        line-height: 150px;
    }

    .skill__description {
        font-size: 36px;
        line-height: 150px;
    }

    .project-img {
        height: 710px;
    }

    .project-description {
        font-size: 34px;
        margin-top: 30px;
        padding: 20px;
    }

    .project-description__heading {
        font-size: 34px;
    }

    .highlight {
        letter-spacing: 4px;
    }

    .contact__description {
        font-size: 34px;
        line-height: 60px;
        margin-bottom: 60px;
    }

    .contact__details {
        font-size: 34px;
    }

    .contact__detail {
        line-height: 70px;
    }

    .copy__text {
        font-size: 30px;
        line-height: 100px;
    }
}







@media screen and (orientation: landscape) {

    .benefit {
        top: 40%;
    }

    .benefit__text {
        font-size: 22px;
        line-height: 60px;
    }

    .cta {
        bottom: 30%;
    }

    .cta__link {
        font-size: 18px;
        line-height: 40px;
    }

    .section__heading {
        text-align: center;
        margin: 40px 0 0 0;
    }

    .section__wrap {
        padding: 20px 30px 80px 30px;
    }

    .section__wrap--about {
        grid-template-columns: auto 200px;
        grid-template-rows: 200px;
        grid-template-areas: "about__description about__image";
    }

    .about__description {
        margin-bottom: 0px;
        margin-right: 40px;
        margin-top: 50px;
        text-align: left;
    }

    .about__image {
        width: 200px;
    }

    .about__bubble--1 {
        top: 50px;
        left: 150px;
    }

    .about__bubble--3 {
        top: 120px;
        right: 250px;
    }

    .about__bubble--4 {
        top: 150px;
        left: 200px;
    }

    .about__bubble--5 {
        top: 220px;
        right: 300px;
    }

    .about__bubble--6 {
        top: 260px;
        left: 100px;
    }

    .about__bubble--7 {
        bottom: 200px;
        left: 50px;
    }

    .about__bubble--8 {
        bottom: 30px;
        right: 5px;
    }

    .about__bubble--9 {
        bottom: 10px;
        right: 20px;
    }

    .section__wrap--skills {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .skills__item {
        /* border: 2px solid red; */
        padding: 20px;
    }

    .skill__icon {
        font-size: 22px;
    }

    .skill__description {
        font-size: 16px;
    }

    .projects__item {
        display: grid;
        grid-template-columns: 31% 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "project-img project-description";
    }

    .project-img {
        grid-area: project-img;
        height: 210px;
        border-radius: 10px 0 0 10px;
    }

    .project-img--1 {
        background-image: url(img/Personal_portrait.png);
    }

    .project-img--2 {
        background-image: url(img/Kasia_portrait.png);
    }

    .project-img--3 {
        background-image: url(img/ToDo_portrait.png);
    }

    .project-img--4 {
        background-image: url(img/Web_portrait.png);
    }

    .project-img--5 {
        background-image: url(img/Landing_portrait.png);
    }

    .project-img--6 {
        background-image: url(img/KOIA_portrait.png);
    }

    .project-description {
        grid-area: project-description;
        font-size: 14px;
        margin-top: 0px;
        margin-left: 10px;
        padding: 10px 20px;
        border-radius: 0 10px 10px 0;
    }

    .project-description__heading {
        font-size: 14px;
    }

    .section__wrap--contact {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "contact__description contact__details";
        padding: 20px 30px 20px 30px;
    }

    .contact__description {
        grid-area: contact__description;
        text-align: left;
        margin-bottom: 0px;
        border-radius: 10px 0 0 10px;
    }

    .contact__details {
        grid-area: contact__details;
        margin-left: 10px;
        border-radius: 0 10px 10px 0;
    }

    .contact__detail {
        line-height: 25px;
        text-align: right;
    }
}


@media screen and (orientation: landscape) and (min-width: 640px) {
    .project-img {
        height: 250px;
    }
}

@media screen and (orientation: landscape) and (min-width: 667px) {
    .section__heading {
        font-size: 28px;
        margin: 60px 0 0 0;
    }

    .section__wrap--about {
        grid-template-columns: auto 220px;
        grid-template-rows: 220px;
    }

    .about__image {
        width: 220px;
    }
}

@media screen and (orientation: landscape) and (min-width: 720px) {
    .about__description {
        margin-right: 60px;
        margin-top: 70px;
    }

    .project-img {
        height: 280px;
    }

    .section__wrap--contact {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "contact__description contact__details";
        padding: 20px 30px 20px 30px;
    }
}

@media screen and (orientation: landscape) and (min-width: 812px) {
    .section__heading {
        font-size: 32px;
    }

    .about__description {
        font-size: 18px;
    }

    .skill__icon {
        font-size: 26px;
        line-height: 80px;
    }

    .skill__description {
        font-size: 18px;
        line-height: 80px;
    }

    .project-img {
        height: 315px;
    }

    .project-description {
        font-size: 18px;
    }

    .project-description__heading {
        font-size: 18px;
    }

    .contact__description {
        font-size: 18px;
    }

    .contact__details {
        font-size: 18px;
    }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
    .menu__link {
        font-size: 18px;
        line-height: 46px;
    }

    .to-bottom {
        bottom: 50px;
    }

    .js-to-bottom--hide {
        transform: translate(-50%, 100px);
    }

    .to-bottom__icon {
        font-size: 34px;
        line-height: 50px;
    }

    .to-top {
        bottom: 50px;
        transform: translate(-50%, 100px);
        font-size: 24px;
    }

    .js-to-top--show {
        transform: translate(-50%, 0);
    }

    .to-top__icon {
        line-height: 50px;
    }

    .benefit__text {
        font-size: 28px;
        line-height: 74px;
    }

    .cta__link {
        font-size: 24px;
    }
}