* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --bgc: #c6bfb7;
    --secondBgc: #e2dfdb;
    --opacitySecondBgc: #e2dfdb80;
    --fc: #333;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto 50px;
    grid-template-areas: "header""main""footer";
    min-height: 150vh;
    max-width: 1366px;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: var(--bgc);
}

body,
button {
    font-family: 'Quicksand', sans-serif;
    color: var(--fc);
}

.burger {
    position: fixed;
    top: 0;
    right: 0;
    width: 160px;
    height: 160px;
    background-color: var(--opacitySecondBgc);
    border-radius: 50%;
    transform: translate(50%, -50%);
    cursor: pointer;
    z-index: 3;
}

.burger:hover .burger__line {
    left: 35px;
    width: 25px;
}

.burger__line {
    position: absolute;
    height: 3px;
    bottom: 50px;
    background-color: var(--fc);
    transition: .3s;
}

.burger__line--line1 {
    left: 35px;
    width: 25px;
    transform: translateY(-200%);
}

.burger__line--line2 {
    left: 45px;
    width: 15px;
    transform: translateY(50%);
}

.burger__line--line3 {
    left: 55px;
    width: 5px;
    transform: translateY(300%);
}




.js-burger__line1--active {
    left: 40px;
    width: 15px;
    transform: rotate(45deg);
}

.js-burger__line2--active {
    left: 40px;
    width: 15px;
    transform: rotate(-45deg);
}

.js-burger__line3--active {
    display: none;
}




.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 600px;
    height: 600px;
    background-color: var(--opacitySecondBgc);
    border-radius: 50%;
    transform: translate(100%, -100%);
    transition: 1s ease-out;
}

.js-menu-container--show {
    background-color: var(--secondBgc);
    transform: translate(50%, -50%);
    z-index: 2;
}

.menu {
    position: absolute;
    height: 300px;
    width: 300px;
    bottom: 0px;
    left: 0px;
    padding: 70px 50px;
    list-style: none;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu__link {
    color: var(--fc);
    line-height: 40px;
    text-decoration: none;
    padding: 5px 10px;
    transition: .3s;
    z-index: 4;
}

.menu__link:hover {
    background-color: #ffffff80;
    border-radius: 5px;
}



.to-bottom {
    position: fixed;
    /* height: 50px; */
    /* width: 50px; */
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    color: var(--secondBgc);
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;
    z-index: 3;
    /* display: none; */
}

.js-to-bottom--hide {
    transform: translate(-50%, 70px);
}

.to-bottom__icon {
    font-size: 30px;
    line-height: 50px;
    transform: rotateX(50deg);
    transition: .3s;
    animation: toBottom 2.5s infinite linear;
}

.to-top {
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 70px);
    border-radius: 50%;
    font-size: 20px;
    background-color: var(--opacitySecondBgc);
    text-align: center;
    cursor: pointer;
    transition: .3s;
    z-index: 3;
    /* display: none; */
}

.js-to-top--show {
    transform: translate(-50%, 0);
}

.to-top:hover .to-top__icon {
    transform: rotateX(0deg);
}

.to-top__icon {
    line-height: 50px;
    transform: rotateX(50deg);
    transition: .3s;
}



/* header */
.header {
    grid-area: header;
    background-image: url(img/header.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow-x: hidden;
}

.benefit {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(100%, -50%);
    text-align: center;
    animation: benefit 21s infinite;
}

.benefit--1 {
    animation-delay: 0s;
}

.benefit--2 {
    animation-delay: 3s;
}

.benefit--3 {
    animation-delay: 6s;
}

.benefit--4 {
    animation-delay: 9s;
}

.benefit--5 {
    animation-delay: 12s;
}

.benefit--6 {
    animation-delay: 15s;
}

.benefit--7 {
    animation-delay: 18s;
}

.benefit__text {
    font-size: 26px;
    line-height: 70px;
    background-color: #ffffff80;
    cursor: default;
}

.cta {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.cta__link {
    font-size: 20px;
    /* line-height: 50px; */
    color: #ffffff;
    text-decoration: none;
    background-color: var(--fc);
    border-radius: 45px;
    padding: 10px 20px;
    transition: .3s;
}


.cta__link:hover {
    color: var(--fc);
    background-color: #fff;
}

.cta__icon {
    margin-left: 15px;
}

/* main */
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto auto calc(100vh - 50px);
    grid-template-areas: "about""skills""projects""contact";
}

.section__heading {
    text-align: center;
    margin-top: 80px;
    font-weight: 400;
    /* background-color: #ffffff80; */
}

.section__wrap {
    padding: 40px 20px 80px 20px;
}

.section--about {
    grid-area: about;
    position: relative;
}

.section__wrap--about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 220px;
    grid-template-areas: "about__description""about__image";
}

.about__description {
    grid-area: about__description;
    text-align: center;
    margin-bottom: 40px;
    z-index: 1;
}

.about__image {
    grid-area: about__image;
    width: 220px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
}

.about__img {
    max-width: 100%;
}

.about__bubble {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ffffff80;
    border-radius: 50%;
    opacity: 0;
    animation: bubble 3s linear infinite;
}

.about__bubble--1 {
    top: 10px;
    left: 50px;
    transform: scale(.5);
    animation-delay: 1s;
}

.about__bubble--2 {
    top: 30px;
    right: 60px;
    transform: scale(.3);
    animation-delay: 3s;
}

.about__bubble--3 {
    top: 120px;
    right: 100px;
    animation-delay: 1.5s;
}

.about__bubble--4 {
    top: 200px;
    left: 80px;
    transform: scale(.6);
    animation-delay: 2.5s;
}

.about__bubble--5 {
    top: 230px;
    right: 30px;
    transform: scale(.4);
    animation-delay: .5s;
}

.about__bubble--6 {
    top: 260px;
    left: 10px;
    transform: scale(.4);
    animation-delay: 2.8s;
}

.about__bubble--7 {
    bottom: 200px;
    left: 30px;
    animation-delay: 1.8s;
}

.about__bubble--8 {
    bottom: 150px;
    right: 20px;
    transform: scale(.4);
    animation-delay: .8s;
}

.about__bubble--9 {
    bottom: 100px;
    right: 10px;
    transform: scale(.2);
    animation-delay: 2.3s;
}

.about__bubble--10 {
    bottom: 50px;
    left: 20px;
    transform: scale(.6);
    animation-delay: 1s;
}

.section--skills {
    grid-area: skills;
    background-color: #fff;
}

.section__wrap--skills {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.skills__item {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.skill {
    flex: 1;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0 20px;
    background-color: var(--opacitySecondBgc);
    /* display: none; */
}

.skill__icon {
    font-size: 24px;
    line-height: 70px;
    /* background-color: red; */
    /* display: none; */
}

.skill__description {
    font-size: 18px;
    line-height: 70px;
    /* display: none; */
}

















.section--projects {
    grid-area: projects;
}

.section__wrap--projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.projects__item {
    /* border: 2px solid #fff; */
    padding: 20px 0;
}

.project-img {
    height: 210px;
    background-position: top;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    transition: .3s;
}

.project-img:hover {
    box-shadow: 0 0 10px black;
}

.project-img--1 {
    background-image: url(img/Personal.png);
}

.project-img--2 {
    background-image: url(img/Kasia.png);
}

.project-img--3 {
    background-image: url(img/ToDo.png);
}

.project-img--4 {
    background-image: url(img/Web.png);
}

.project-img--5 {
    background-image: url(img/Landing.png);
}

.project-img--6 {
    background-image: url(img/KOIA.png);
}

.project-img__link:nth-of-type(1) {
    height: 100%;
    display: block;
}

.project-description {
    margin-top: 10px;
    text-align: justify;
    padding: 20px 10px;
    border-radius: 0 0 10px 10px;
    background-color: #ffffff80;
}

.project-description__heading {
    font-size: 16px;
}

.highlight {
    letter-spacing: 2px;
}

.section--contact {
    grid-area: contact;
    background-color: #fff;
}

.contact__description {
    text-align: center;
    margin-bottom: 10px;
    background-color: #dddddd80;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.contact__details {
    background-color: #c6bfb780;
    border-radius: 0 0 10px 10px;
    list-style: none;
    padding: 20px;
}

.contact__detail {
    line-height: 30px;
    text-align: center;
}

.contact__link {
    text-decoration: none;
    color: #333;
}

.footer {
    grid-area: footer;
}

.copy__text {
    text-align: center;
    line-height: 50px;
}


/* ANIMATIONS */

@keyframes benefit {

    0% {
        transform: translate(100%, -50%);
    }

    3% {
        transform: translate(100%, -50%);
    }

    6% {
        transform: translate(0, -50%);
    }

    14.29% {
        transform: translate(0, -50%);
    }

    17.29% {
        transform: translate(-100%, -50%);
    }

    100% {
        transform: translate(-100%, -50%);
    }
}

@keyframes toBottom {
    0% {
        transform: rotateX(50deg);
    }

    30% {
        transform: rotateX(50deg);
    }

    40% {
        transform: rotateX(0deg);
    }

    60% {
        transform: rotateX(0deg);
    }

    70% {
        transform: rotateX(50deg);
    }

    100% {
        transform: rotateX(50deg);
    }
}


@keyframes bubble {

    0% {
        opacity: 0;
    }

    45% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}



/* MEDIA QUERIES */